Langchain
ipykernel
python-dotenv
langchain_community
pypdf
bs4
langchain_text_splitters
sentence_transformers
langchain_huggingface
langchain_groq
streamlit



validators==0.35.0
unstructured

fastapi
uvicorn
python-multipart

